@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.map {
  width: 95vw;
  height: 50vh;
  margin: 0 auto;
  box-shadow: 0px 1px 10px 6px #E1E1E1;
}

.mapboxgl-popup-close-button {
  padding: 5px
}

.mapboxgl-popup-content h3 {
  font-weight: bold;
  float: left;
}

.mapContainer {
  position: relative;
  width: 98vw;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;
  background-color: white;
  box-shadow: 0px 1px 10px 6px #E1E1E1;
  margin: 0 auto;
}

.mapContainer select {
  position: absolute;
  top: 20px;
  right: 6vw;
  padding: 7px 10px 7px 15px;
  border-radius: 2px;
  margin-right: 10px;
  font-size: 12px;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
  font-weight: 500;
}

th, td {
  max-width: 10vw;
}

table {
  width: 100%;
  float: left;
  border: 1px solid #d4ebf2;
  border-spacing: 0px;
  margin: 0 auto;
}

th {
  font-size: 13px;
  padding: 24px 0 20px 0;
  font-weight: 600;
  width: 12vw;
}

th input {
  border: 1px solid lightblue;
    height: 25px;
    margin-top: 8px;
    padding: 3px;
}

th img {
  width: 7px;
  height: 11px;
  left: 6px;
  top: 4px;
  float: right;
  border-radius: 50%;
}

.clickable-header {
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

.clickable-header img {
  position: relative;
}

input {
  font-weight: normal;
  font-size: 12px;
}

.table-container{
  width: 48vw;
  float: left;
  background: white;
  box-shadow: 0px 1px 10px 6px #E1E1E1;
  padding: 15px 15px 55px 15px;
  margin-left: 1vw;
  margin-right: 1vw;
  position: relative;
}

.chart-container {
  width: 48vw;
  float: right;
  background: white;
  box-shadow: 0px 1px 10px 6px #E1E1E1;
  padding: 15px;
  position: relative;
  height: 560px;
  margin-right: 1vw;
}

.chart-container canvas {
  position: absolute;
  bottom: 30px;
}

th, td {
  text-align: center;
}

.hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.expand {
  overflow: visible;
  word-break: break-word;
  white-space: break-spaces;
}

td {
  padding: 5px 0 15px 5px;
  position: relative;
  font-size: 11px;
  width: 12vw;
  cursor: pointer;
}

tr:nth-child(odd) td {
  background-color: #d4ebf2;
}

 td:first-child {
  padding-left: 24px;
}

td:last-child {
  padding-right: 24px;
}

.select-container {
  top: 60px;
  position: absolute;
}

.select-container select {
    width: 14vw;
    padding: 7px;
    background-color: rgba(53, 162, 235, 0.5);
    border-color: rgba(53, 162, 235);
    border-radius: 2px;
    float: left;
    margin-right: 10px;
    font-size: 12px;
}

.select-container select:first-child {
  background-color: rgba(255, 99, 132, 0.5);
  border-color: rgba(255, 99, 132);
}

.select-container select:last-child {
  background-color: rgba(255, 165 ,0, 0.5);
  border-color: rgba(255, 165 ,0);
}

.title {
  width: 98vw;
  margin: 0 auto;
  background: white;
  padding: 35px;
  margin-bottom: 5px;
}

.title div {
  width: fit-content;
    margin: 0 auto;
}

.title span {
  width: fit-content;
  margin: 0 auto;
  float: left;
}

.title img {
  padding: 0 5px;
  width: 40px;
  height: 30px;
}

.pagination {
  position: absolute;
  bottom: 0;
  left: 15vw;
  font-size: 13px;
}

.pagination button {
  padding: 5px;
  margin: 10px;
}

.pagination button:disabled {
  color: gray;
  cursor: not-allowed;
}

.loading-map {
  height: 50vh;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1px 10px 6px #E1E1E1;
  margin: 0 auto;
}

.loading-table {
  height: 610px;
  width: 48%;
  background-color: white;
  box-shadow: 0px 1px 10px 6px #E1E1E1;
  margin-left: 1vw;
  margin-right: 1vw;
  float: left;
}

.loading-chart {
  height: 610px;
  width: 49%;
  background-color: white;
  box-shadow: 0px 1px 10px 6px #E1E1E1;
  margin-right: 1vw;
  float: right;
}